<div ng-controller="teamDetailCtrl" class="detailView">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#/teams">Teams</a></li>
		<li class="active">Team</li>
	</ol>
	<div class="title" ng-controller="teamCtrl">
		<h2><div editable-text="team.name">{{team.name}}</div></h2>
    </div>
	<div class="detailRow">
		<p><div editable-text="team.description">{{team.description}}</div></p>
	<div class="detailRow">
		<p>
			<span class="glyphicon glyphicon-link"/>
			<div editable-url="team.url">{{team.url}}</div>
		</p>
	</div>
	<div class="listView">
			<div class="title">
				<h4>Roster</h4>
			</div>
		<table class="table table-striped">
			<!-- filter by team? -->
			<tr ng-repeat="player in team.players | orderBy:orderProp">
				<td class="col-xs-12"><a href="#/players/{{player._id}}">{{ player.name }}</a></td>
			</tr>
		</table>
		<a class="btn btn-success" role="button">add more players</a>
	</div>
</div>