<div ng-controller="teamDetailCtrl" class="detailView">
	<ol class="breadcrumb">
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#/teams">Teams</a>
		</li>
		<li class="active">Team</li>
	</ol>
	<form editable-form name="teamForm" onaftersave="Update()">
		<div class="title col-xs-12" ng-controller="teamCtrl">
		<h2>
			<div editable-text="team.name">{{team.name}}</div>
		</h2>
	</div>
	<div class="col-xs-12">
		<div ng-show="teamForm.$visible">Description</div>
		<div editable-text="team.description">{{team.description}}</div>
	</div>
	<div class="col-xs-12">
		<div ng-show="teamForm.$visible">Link</div>
		<div editable-url="team.url"><a href="{{team.url}}">{{team.url}}</a></div>
	</div>
	<div class="col-xs-12">
		<div class="title" ng-show="teamForm.$visible || team.players">
			<h4>Roster</h4>
		</div>
		<table class="table table-striped">
			<tr ng-repeat="player in team.players | orderBy:orderProp">
				<td class="col-xs-12">
					<a href="#/players/{{player.player_id}}">{{ player.name }}</a>
				</td>
				<td class="text-danger pull-right" ng-show="teamForm.$visible" href="#"><span class="glyphicon glyphicon-remove" ng-click="DeletePlayer(player)"></span></td>
			</tr>
		</table>
		<div class="form-inline col-xs-12" ng-show="teamForm.$visible">
			<input type="text" ng-model="query" placeholder="Search players"/>
			<select class="form-control" ng-model="addPlayer" ng-options="player.name for player in players | rosterFilter:team.players | filter:query">
				<option value="">-- Select players --</option>
				{{player.name}}
			</select>
		<a class="btn btn-sm btn-success" role="button" ng-click="AddPlayer()">Add player</a>
		</div>
	</div>
	<div>
		<button type="button" class="btn btn-default btn-sm" ng-click="teamForm.$show()"
			ng-show="!teamForm.$visible"> Edit </button>
		<span ng-show="teamForm.$visible">
			<button type="submit" class="btn btn-primary" ng-disabled="teamForm.$waiting"> Save </button>
			<button type="button" class="btn btn-danger" ng-disabled="teamForm.$waiting"
				ng-click="teamForm.$cancel()"> Cancel </button>
		</span>
		</div>
	</div>
	</form>
</div>