<div ng-controller="teamDetailCtrl" class="detailView">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#/teams">Teams</a></li>
		<li class="active">Team</li>
	</ol>
	<div class="title" ng-controller="teamCtrl">
		<h2><div editable-text="team.name">{{team.name}}</div></h2>
    </div>
	<div class="detailRow">
		<p>
			<span class="glyphicon glyphicon-link"/>
			<div editable-url="team.url">{{team.url}}</div>
		</p>
	</div>
	<div class="listView">
			<div class="title">
				<h4>Roster</h4>
			</div>
		<ul class="list">
			<!-- filter by team? -->
			<li ng-repeat="player in team.players | orderBy:orderProp">
				<p class="name"><a href="#/players/{{player.id}}">{{ player.name }}</a></p>
				<a class="remove" href="#"><span class="glyphicon glyphicon-remove"></span></a>
			</li>
		</ul>
		<a class="btn btn-success" role="button">add more players<span class="glyphicon glyphicon-plus-sign"></span></a>
	</div>
</div>