<div ng-controller="teamCtrl" class="listView">
	<div class="top">
    	<div class="title">
        	<h2>Teams</h2>
        </div>
    	<div class="search">
			<input type="text" placeholder="Search" ng-model="query" class="form-control"/>
        </div>
    </div>
	<ul class="list">
    	<li ng-repeat="team in teams | filter:query | orderBy:orderProp">
    		<p class="name"><a href="#/teams/{{team.id}}">{{ team.name }}</a></p>
            <a class="remove" href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
    </ul>
	<a href="#/teams/new" class="btn btn-success" role="button">add new<span class="glyphicon glyphicon-plus-sign"></span></a>
</div>