<div ng-controller="teamCtrl" class="listView">
	<div class="top">
    	<div class="title">
        	<h2>Teams</h2>
        </div>
		<a ng-show="user.properties.admin.value" href="#/teams/new" class="btn btn-sm btn-success" role="button">add new</a>
		<div class="search col-xs-6">
			<input type="text" placeholder="Search" ng-model="query" class="form-control"/>
        </div>
    </div>
	<table class="table table-striped">
    	<tr ng-repeat="team in teams | filter:query | orderBy:orderProp">
    		<td class="col-xs-12"><a href="#/teams/{{team._id}}">{{ team.name }}</a>
    			<span ng-show="user.permissions.teams.value && user.properties.team.value === team._id" class="glyphicon glyphicon-remove text-danger pull-right" href="#" ng-click="Delete(team)"></span>
    		</td>
        </tr>
    </table>
	<a ng-show="user.properties.admin.value" href="#/teams/new" class="btn btn-sm btn-success" role="button">add new</a>
</div>