<div ng-controller="teamDetailCtrl" class="detailView">
	<ol class="breadcrumb">
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#/teams">Teams</a>
		</li>
		<li class="active">New Team</li>
	</ol>
	<form name="teamForm">
		<div class="form-group col-xs-12">
			<input type="text" class="form-control" ng-model="team.name" placeholder="Name" required/>
		</div>
		<div class="form-group col-xs-12">
			<input type="text" class="form-control" ng-model="team.description" placeholder="Description"/>
		</div>
		<div class="form-group col-xs-12">
			<input type="text" class="form-control" ng-model="team.url" placeholder="Link"/>
		</div>
	
		<div class="form-inline col-xs-12">
			<select class="form-control" ng-model="addPlayer" ng-options="player.name for player in players"><!-- filter to remove players in team.players -->
				{{player.name}}
				<option value="">-- Select players --</option>
			</select>
			<a class="btn btn-sm btn-success" role="button" ng-click="AddPlayer()">Add player</a>
		</div>
			<table class="table table-striped">
				<h3>Roster</h3>
				<tr ng-repeat="player in team.players | orderBy:orderProp" ng-model="team.players">
					<td class="col-xs-12">
						<a href="#/players/{{player._id}}">{{ player.name }}</a>
						<td class="text-danger pull-right" href="#"><span class="glyphicon glyphicon-remove" ng-click="DeletePlayer(player)"></span></td>
					</td>
				</tr>
			</table>
		
		<div class="center-block">
			<button class="btn btn-primary" ng-disabled="teamForm.$error.required" ng-click="Add()"> Save </button>
			<button type="button" class="btn btn-danger" ng-disabled="teamForm.$waiting"
				ng-click="teamForm.$cancel()"> Cancel </button>
		</div>
	</form>
</div>