/* app css stylesheet */
html,
body{
    height:100%;
    width:100%;
}

#wrap{
    min-height:100%;
    height:100%;
    height:auto;
    margin:0 auto -21px;
    padding-bottom:20px
}

header{
    background-color:#000;
    height:2.5em;
    padding: 0 1em;
}
header h1{
    margin:0;
    font-size:2em;
}
header h1 a, header .login a, header .login {
    color:#fff;
    margin:0;
}
header h1 a:hover, header .login a:hover{
    color:#ccc;
    text-decoration:none;
}

.login {padding-top:.5em;}

.breadcrumb{
    margin-top:20px;
}
.content{
    float:none !important;
}
.glyphicon{
    margin:0 5px;
    vertical-align:middle;
}
.glyphicon:hover{
    text-shadow:0px 0px 3px #333;
    cursor:pointer;
}
.home ul,
.home li{
    list-style-type:none;
    font-size:2em;
}
.listView{
    float:left;
    width:100%
}
.listView .top{
    width:100%;
    float:left;
}
.listView .title{
    float:left;
    margin-right:2%
}
.listView .btn{
    margin-top:20px;
    float:left
}
.listView .search,
.listView .sort{
    float:right;
    margin-top:20px;
    padding-right:0;
}
.list h3{
    margin:0;
}

.detailView .title,
.detailView .detailRow{
    width:100%;
    float:left;
}
.detailView .title h2,
.detailView .detailRow p{
    float:left;
}
.detailView .score{
    float:left;
    width:100%;
}
.detailView .score .team{
    float:left;
    width:100%;
}
.detailView .score .team .name{
    float:left;
    width:15%;
}
.detailView .score .team .score{
    float:left;
    width:auto;
}
#footer{
    background-color:#000;
    text-align:center;
    height:20px;
    width:100%;
    float:left;
}

#footer p{
    color:#fff;
}