/* app css stylesheet */
html, body {
	height:100%;
	width:100%;
}

header {
	text-align:center;
	background-color:#000;
	height:6%;
}

header h1 {
	color:#fff;
	margin:0;
}

.content {
	min-height:91%;
	width:90%;
	margin-left:5%;
}

.home {
	text-align:center;
}
.home ul, .home li {
	list-style-type:none;
	font-size:2em;
}

.listView .top {
	width:100%;
	float: left;
}
.listView .title {
	float:left;
}
.listView .search {
	float:right;
	width:25%;
}
.listView ul {
	list-style-type:none;
	padding:0;
}
.list li {
	padding:1%;
	float:left;
	width:100%;
}
.list li:hover {
	background-color:#eee;
}
.list li:nth-of-type(odd) {
	background-color: #ccc;
}
.list .name {
	float:left;
	margin: 2%;
	width: 80%;
}
.list h3 {
	margin:0;
}
.list .edit {
	float:right;
}
footer {
	background-color: #000;
	text-align:center;
	height:3%
}

footer p {
	color:#fff;
}