/* app css stylesheet */
html, body {
	height:100%;
	width:100%;
}

header {
	text-align:center;
	background-color:#000;
	height:2.5em;
}

header h1 a {
	color:#fff;
	margin:0;
}
header h1 a:hover {
    color: #ccc;
    text-decoration:none;
}
.glyphicon {
    margin:0 5px;
    vertical-align:middle;
}
.glyphicon:hover {
    text-shadow: 0px 0px 3px #333;
    cursor:pointer;
}
.content {
	width:90%;
	margin-left:5%;
}

.home {
	text-align:center;
}
.home ul, .home li {
	list-style-type:none;
	font-size:2em;
}
.listView {
    float:left;
    width:100%
}
.listView .top {
	width:100%;
	float: left;
}
.listView .title {
	float:left;
	margin-right:2%
}
.listView .btn {
    margin-top:20px;
    float: left
}
.listView .search, .listView .sort {
	float:right;
	width:25%;
	min-width:10em;
	margin-top:20px;
}
.listView ul {
	list-style-type:none;
	padding:0;
}
.list li {
	padding:1%;
	float:left;
	width:100%;
}
.list li:nth-of-type(odd) {
	background-color: #ccc;
}
.list li p {
	margin:0;
}
.list li p a {
	color:#333;
}
.list li p a:hover {
	color:#666;
	text-decoration:none;
	border-bottom: 1px dotted #333;
}
.list .name {
	float:left;
	width: 80%;
}
.list h3 {
	margin:0;
}
.list .remove {
	float:right;
}
.detailView .title, .detailView .detailRow {
    width:100%;
    float:left;
}
.detailView .title h2, .detailView .detailRow p {
    float:left;
}
.detailView .score {
    float:left;
    width:100%;
}
.detailView .score .team {
    float:left;
    width:100%;
}
.detailView .score .team .name {
    float:left;
    width:15%;
}
.detailView .score .team .score {
    float:left;
    width:auto;
}
footer {
	background-color: #000;
	text-align:center;
	height:3%;
	width:100%;
	float:left;
	margin-top:1%;
}

footer p {
	color:#fff;
}