<div ng-controller="userDetailCtrl">
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <p ng-show="user.properties.team.value">Captain of <a href="#/teams/{{user.properties.team.value}}">{{user.properties.team.value | teamIdFilter:teams}}</a></p>
    <p ng-show="user.properties.scorekeeper.value">Scorekeeper</p>
    <p ng-show="user.properties.admin.value">Administrator</p>
    <h4>Permissions:</h4>
        <ul>
            <li ng-show="user.permissions.games.value">Add, delete or edit games</li>
            <li ng-show="user.permissions.players.value">Add, delete or edit players</li>
            <li ng-show="user.permissions.teams.value">Add, delete or edit teams</li>
            <li ng-show="user.permissions.stats.value">Add, delete or edit stats</li>
        </ul>
    <hr/>
    <!-- need to convert timestamp in seconds to milliseconds -->
    <p class="help-block">Created: {{user.created_at * 1000 | date:'longDate'}}</p>
    <p class="help-block">Last updated: {{user.updated_at * 1000 | date:'longDate'}}</p>
</div>