<div ng-controller="playerDetailCtrl" class="detailView">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#/players">Players</a></li>
        <li class="active">Player</li>
    </ol>
    <form editable-form name="playerForm" onaftersave="Update()">
        <div class="title col-xs-12">
            <div ng-show="playerForm.$visible">Name</div>
        <h2><div editable-text="player.name">{{player.name}}</div></h2>
    </div>
        <div class="col-xs-12">
            <div ng-show="playerForm.$visible">Position</div>
            <table class="table table-striped">
                <tr ng-repeat="position in player.positions | orderBy:player.position.name">
                    <td class="col-xs-12">{{ position.name }}</td>
                    <td class="text-danger pull-right"><span ng-show="playerForm.$visible" class="glyphicon glyphicon-remove" ng-click="DeletePosition(position)"></span></td>
                </tr>
            </table>
            <div class="form-inline" ng-show="playerForm.$visible">
                <select class="form-control" ng-model="addPosition"
                    ng-options="position.name for position in positions | rosterFilter:player.positions">
                    <option value="">-- Select a position --</option>
                </select>
                <a class="btn btn-sm btn-success" role="button" ng-click="AddPosition()">Add position</a>
            </div>
            <div ng-hide="playerForm.$visible" class="pull-left" >#</div>
            <div ng-show="playerForm.$visible">Number</div>
            <div editable-text="player.number">{{player.number}}</div>
        </div>
    <div class="col-xs-12">
        <div ng-show="playerForm.$visible">Description</div>
        <div editable-text="player.description">{{player.description}}</div>
    </div>
    <div>
        <button type="button" class="btn btn-default btn-sm" ng-click="playerForm.$show()"
            ng-show="!playerForm.$visible && user.permissions.players.value"> Edit </button>
        <span ng-show="playerForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="playerForm.$waiting"> Save </button>
            <button type="button" class="btn btn-danger" ng-disabled="playerForm.$waiting"
                ng-click="playerForm.$cancel()"> Cancel </button>
        </span>
    </div>
        <div class="statistics col-xs-12" ng-show="statistics">
            <h3>Statistics</h3>
            <table class="table table-striped col-xs-12">
                <tr>
                    <th class="col-xs-2">Position</th>
                    <th class="col-xs-3">Team</th>
                    <th class="col-xs-2">Statistic</th>
                    <th class="col-xs-2">Time</th>
                </tr>
                <tr ng-repeat="stat in player.statistics">
                    <td class="col-xs-2">{{stat.position.name}}</td>
                    <td class="col-xs-3">{{stat.team.name}}</td>
                    <td class="col-xs-2"><span ng-show="stat.value === false || stat.value === true">{{stat.value | possessionFilter}}&nbsp;</span>{{stat.name}}<span ng-show="stat.attribute">, {{stat.attribute}}</span><span ng-show="stat.type">&nbsp;({{stat.type.name}})</span></td>
                    <td class="col-xs-2">{{stat.time | date:'h:mm:ss a'}}</td>
                </tr>
            </table>
        </div>
    </form>
</div>