<div ng-controller="playerDetailCtrl" class="detailView">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#/players">Players</a></li>
        <li class="active">Player</li>
    </ol>
    <form editable-form name="playerForm" onaftersave="Update()">
        <div class="title col-xs-12">
        <h2><div editable-text="player.name">{{player.name}}</div></h2>
    </div>
    <div class="col-xs-12">
        <div editable-text="player.description">{{player.description}}</div>
    </div>
    <div class="col-xs-12">
        <h4>Number</h4>
        <div editable-text="player.number">{{player.number}}</div>
    </div>
    <div class="col-xs-6">
        <h4>Position</h4>
        <div editable-select="player.position" onshow="positions" e-ng-options="position.name for position in positions">
            {{player.position.name}}
        </div>
    </div>
    <div class="col-xs-6">
        <h4>Plays for</h4>
        <div editable-select="player.team" onshow="teams" e-ng-options="team.name for team in teams">{{player.team.name}}</div>
    </div>
    <div>
        <button type="button" class="btn btn-default" ng-click="playerForm.$show()"
            ng-show="!playerForm.$visible"> Edit </button>
        <span ng-show="playerForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="playerForm.$waiting"> Save </button>
            <button type="button" class="btn btn-danger" ng-disabled="playerForm.$waiting"
                ng-click="playerForm.$cancel()"> Cancel </button>
        </span>
    </div>
    </form>
</div>