<div ng-controller="playerCtrl" class="listView">
	<div class="top">
    	<div class="title">
        	<h2>Players</h2>
        </div>
		<a ng-show="user.permissions.players.value" href="#/players/new" class="btn btn-sm btn-success" role="button">add new</a>
		<div class="search col-xs-6">
			<input type="text" placeholder="Search" ng-model="query" class="form-control"/>
        </div>
    </div>
	<table class="table table-striped">
    	<tr ng-repeat="player in players | filter:query | orderBy:orderProp">
    		<td class="col-xs-6"><a href="#/players/{{player._id}}">{{ player.name }} (#{{player.number}})</a></td>
    		<td class="col-xs-6">{{player.positions[0].name}}
    			<span ng-show="player.positions[1].name">, {{player.positions[1].name}}</span>
    			<span ng-show="player.positions[2].name">, {{player.positions[2].name}}</span>
    			<span ng-show="player.positions[3].name">, {{player.positions[3].name}}</span>
    			<span ng-show="player.positions[4].name">, {{player.positions[4].name}}</span>
    			<span ng-show="user.permissions.players.value" href="#" class="text-danger pull-right glyphicon glyphicon-remove" ng-click="Delete(player)"></span>
    		</td>
        </tr>
    </table>
	<a ng-show="user.permissions.players.value" href="#/players/new" class="btn btn-sm btn-success" role="button">add new</a>
</div>