<div ng-controller="playerCtrl" class="listView">
	<div class="top">
    	<div class="title">
        	<h2>Players</h2>
        </div>
		<div class="search col-xs-6">
			<input type="text" placeholder="Search" ng-model="query" class="form-control"/>
        </div>
    </div>
	<table class="table table-striped">
    	<tr ng-repeat="player in players | filter:query | orderBy:orderProp">
    		<td class="col-xs-12"><a href="#/players/{{player._id}}">{{ player.name }} (#{{player.number}})</a>
    			<span href="#" class="text-danger pull-right glyphicon glyphicon-remove" ng-click="Delete(player)"></span>
    		</td>
        </tr>
    </table>
	<a href="#/players/new" class="btn btn-sm btn-success" role="button">add new</a>
</div>