<div ng-controller="playerCtrl" class="playerView">
	<div class="search text-center">
		<input type="text" placeholder="Search" ng-model="query" />
	</div>
	<ul class="players">
    	<li ng-repeat="player in players | filter:query | orderBy:orderProp">
        	<img width="50px" ng-src="{{player.image}}"/>
    		<h3><a href="#/player/{{player.id}}">{{ player.name }} ({{player.number}})</a></h3>
            <p>{{ player.position }}</p>
            <a href="#player/{{player.id}}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
        </li>
    </ul>
</div>