<div ng-controller="gameDetailCtrl" class="detailView">
	<div class="title">
	    <h2><div click-to-edit="game.name"></div></h2>
    </div>
    <p><div click-to-edit="game.date | date:'longDate'"></div></p>
    <p><span class="glyphicon glyphicon-screenshot"></span><a target="_blank" href="http://www.openstreetmap.org/search?query={{game.location.latitude}},{{game.location.longitude}}">{{game.location.name}}</a><span class="glyphicon glyphicon-new-window"></span></p>
    <p><span class="glyphicon glyphicon-time"></span><div click-to-edit="game.time"></div></p>
    <h3>Score</h3>
    <div class="score">
        <div class="team">
            <div class="name"><a href="#/teams/{{game.winner.id}}">{{game.winner.name}}</a></div>
            <div class="score">{{game.winner.score}} <span class="glyphicon glyphicon-ok"></span></div>
        </div>
        <div class="team">
            <div class="name"><a href="#/teams/{{game.loser.id}}">{{game.loser.name}}</a></div>
            <div class="score">{{game.loser.score}}</div>
        </div>
    </div>
</div>