<div ng-controller="gameDetailCtrl" class="detailView">
	<div class="title">
    	<h2>{{game.name}}</h2>
    </div>
    <p>{{game.date}}</p>
    <p><span class="glyphicon glyphicon-screenshot"></span><a href="http://www.openstreetmap.org/search?query={{game.location.latitude}},{{game.location.longitude}}">{{game.location.name}}</a><span class="glyphicon glyphicon-new-window"></span></p>
    <p><span class="glyphicon glyphicon-time"></span>{{game.time}}</p>
    <h3>Score</h3>
    <div class="score">
        <div class="team">
            <div class="icon"><span class="glyphicon glyphicon-ok"></span></div>
            <div class="name"><a href="#/teams/{{game.winner.id}}">{{game.winner.name}}</a></div>
            <div class="score">{{game.winner.score}}</div>
        </div>
        <div class="team">
            <div class="icon"></div>
            <div class="name"><a href="#/teams/{{game.loser.id}}">{{game.loser.name}}</a></div>
            <div class="score">{{game.loser.score}}</div>
        </div>
    </div>
</div>