<div ng-controller="gameCtrl" class="listView">
	<div class="top">
    	<div class="title">
    		<h2>Games</h2>
    	</div>
    	<div class="search col-xs-3">
			<input type="text" placeholder="Search" ng-model="query" class="form-control"/>
        </div>
		<div class="sort col-xs-2">
        	<select ng-model="orderProp" class="form-control">
          		<option value="name">Alphabetical</option>
          		<option value="-date">Newest</option>
        	</select>
        </div>
    </div>
	<table class="table table-striped">
    	<tr ng-repeat="game in games | filter:query | orderBy:orderProp">
    		<td class="col-xs-12"><a href="#/games/{{game._id}}">{{ game.name }} ({{game.date | date:'longDate'}})</a></td>
            <td class="text-danger pull-right" href="#"><span class="glyphicon glyphicon-remove" ng-click="Delete(game)"></span></td>
        </tr>
    </table>
	<a href="#/games/new" class="btn btn-sm btn-success" role="button">add new</a>
</div>