<div ng-controller="gameCtrl" class="listView">
	<div class="top">
    	<div class="title">
    		<h2>Games</h2>
    	</div>
    	<div class="search col-xs-6">
			<input type="text" placeholder="Search" ng-model="query" class="form-control"/>
        </div>
    </div>
	<h3>Upcoming Games</h3>
	<table class="table table-striped">
		<tr>
			<th class="col-xs-6">Game</th>
			<th class="col-xs-6">Location</th>
		</tr>
		<tr ng-repeat="game in games | filter:query | orderBy:game.name" ng-hide="game.date || game.inProgress">
			<td class="col-xs-6"><a href="#/games/{{game._id}}">{{ game.name }}</a></td>
			<td class="col-xs-6">{{game.location.name}}
				<span ng-show="user.permissions.games.value" href="#" class="glyphicon glyphicon-remove text-danger pull-right" ng-click="Delete(game)"></span>
			</td>
		</tr>
	</table>
	<h3>In Progress Games</h3>
	<table class="table table-striped">
		<tr>
			<th class="col-xs-6">Game</th>
			<th class="col-xs-6">Location</th>
		</tr>
		<tr ng-repeat="game in games | filter:query | orderBy:game.date:true" ng-show="game.inProgress">
			<td class="col-xs-6"><a href="#/games/{{game._id}}">{{ game.name }}</a></td>
			<td class="col-xs-6">{{game.location.name}}
				<span ng-show="user.permissions.games.value" href="#" class="glyphicon glyphicon-remove text-danger pull-right" ng-click="Delete(game)"></span>
			</td>
		</tr>
	</table>
	<h3>Past Games</h3>
	<table class="table table-striped">
		<tr>
			<th class="col-xs-6">Game</th>
			<th class="col-xs-3">Location</th>
			<th class="col-xs-3">Date</th>
		</tr>
    	<tr ng-repeat="game in games | filter:query | orderBy:game.date:true" ng-show="game.date">
    		<td class="col-xs-6"><a href="#/games/{{game._id}}">{{ game.name }}</a></td>
    		<td class="col-xs-3">{{game.location.name}}</td>
    		<td class="col-xs-3">{{game.date | date:'longDate'}}
    			<span ng-show="user.permissions.games.value" class="glyphicon glyphicon-remove text-danger pull-right" href="#" ng-click="Delete(game)"></span>
    			<span class="pull-right label label-danger" ng-show="!game.teams[0].verified && !game.teams[1].verified">Unverified</span>
    			<span class="pull-right label label-warning" ng-show="(game.teams[0].verified && !game.teams[1].verified) || (game.teams[1].verified && !game.teams[0].verified)">Partially verified</span>
    			<span class="pull-right label label-success" ng-show="game.teams[0].verified && game.teams[1].verified">Verified</span>
    		</td>
        </tr>
    </table>
	<a ng-show="user.permissions.games.value" href="#/games/new" class="btn btn-sm btn-success" role="button" ng-click="new">Add new</a>
</div>