<div ng-controller="gameCtrl" class="listView">
	<div class="top">
    	<div class="title">
        	<h2>Games</h2>
        </div>
    	<div class="search">
			<input type="text" placeholder="Search" ng-model="query" class="form-control"/>
        </div>
        <div class="sort">
        	<select ng-model="orderProp" class="form-control">
          		<option value="name">Alphabetical</option>
          		<option value="-date">Newest</option>
        	</select>
        </div>
    </div>
	<ul class="list">
    	<li ng-repeat="game in games | filter:query | orderBy:orderProp">
    		<p class="name"><a href="#/games/{{game.id}}">{{ game.name }} ({{game.date}})</a></p>
            <a class="edit" href="#/games/{{game.id}}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
        </li>
    </ul>
</div>