<div ng-controller="gameDetailCtrl" class="detailView">
    <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#/games">Games</a>
        </li>
        <li class="active">New Game</li>
    </ol>
    <form name="gameForm" ng-model="game">
        <div class="title col-xs-12">
            <div class="form-group col-xs-5 pull-left">
                <select class="form-control" ng-model="game.team1" ng-options="team.name for team in teams"><!-- needs filter to exclude value already selected -->
                    <option value="">-- Select a team --</option>
                </select>
            </div>
            <div class="col-xs-2 center-block text-center"><p>vs</p></div>
            <div class="form-group col-xs-5 pull-right">
                <select class="form-control" ng-model="game.team2" ng-options="team.name for team in teams"><!-- needs filter to exclude value already selected -->
                    <option value="">-- Select a team --</option>
                </select>
            </div>
        </div>
        
        <div class="form-group col-xs-12" ng-model="date">
            <input class="form-control" type="date" name="date" placeholder="Date.new()"/>
        </div>
        <div class="form-group col-xs-12">
            <input class="form-control" type="text" name="location.name" placeholder="Location"/>
        </div>
        <div class="form-group col-xs-12">
            <input class="form-control" type="text" name="location.url"
                placeholder="Link to location"/>
        </div>

{{game}}
{{game.team1}}

        <div class="center-block col-xs-12">
            <button class="btn btn-primary" ng-disabled="gameForm.$waiting" ng-click="Add()"> Save </button>
            <button type="button" class="btn btn-danger" ng-disabled="gameForm.$waiting"
                ng-click="gameForm.$cancel()"> Cancel </button>

        </div>
    </form>
</div>
