<div ng-controller="gameDetailCtrl" class="detailView">
    <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#/games">Games</a>
        </li>
        <li class="active">New Game</li>
    </ol>
    <form name="gameForm">
        <div class="title col-xs-12">
            <div class="form-group col-xs-5 pull-left">
                <select class="form-control" ng-model="game.team1"
                    ng-options="team.name for team in teams" required><!-- needs filter to exclude value already selected -->
                    <option value="">-- Select a team --</option>
                </select>
            </div>
            <div ng-show="game.team1" class="col-xs-2 center-block text-center"><p>vs</p></div>
            <div ng-show="game.team1" class="form-group col-xs-5 pull-right">
                <select class="form-control" ng-model="game.team2"
                    ng-options="team.name for team in teams | filter:'!'+game.team1._id" required><!-- needs filter to exclude value already selected -->
                    <option value="">-- Select a team --</option>
                </select>
            </div>
        </div>
        <div ng-model="location">
            <div class="form-group col-xs-12">
                <input class="form-control" type="text" ng-model="game.location.name"
                    placeholder="Location" required/>
            </div>
            <div class="form-group col-xs-12">
                <input class="form-control" type="text" ng-model="game.location.url"
                    placeholder="Link to location"/>
            </div>
        </div>
        <div class="center-block">
            <button class="btn btn-primary" ng-disabled="gameForm.$error.required" ng-click="Add()"> Save </button>
            <button type="button" class="btn btn-danger" ng-disabled="gameForm.$waiting"
                ng-click="gameForm.$cancel()"> Cancel </button>
        </div>
    </form>
</div>
