<div class="teamSelect" ng-controller="statCtrl">
    <div class="title">
        <h2>Record Stats</h2>
    </div>
    <div class="form-group" ng-model="scorekeeper.name" ng-hide="selectedGame">
        <label>Scorekeeper</label>
        <input type="text" class="form-control" ng-model="scorekeeper.name"></input>
    </div>
    <select class="form-control" ng-model="selectedGame" ng-options="game.name for game in games"
        ng-hide="selectedGame || !scorekeeper.name"><!-- gameFilter:games -->
        <option value="">-- Select a game --</option>
    </select>
        <div class="start" ng-show="selectedGame && !confirm && !selectedGame.inProgress && !record">
            <button class="btn btn-lg btn-success" ng-click="startTime()">Start</button>
            <p class="help-block">Timer will start for {{ selectedGame.name }}</p>
        </div>
        <div ng-show="selectedGame && !confirm && (selectedGame.inProgress || record)" class="record">
            <div ng-show="selectedGame.inProgress" class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Someone else is already timing this game. You can only record statistics.
            </div>
            <div ng-hide="selectedGame.inProgress" class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                You are the official timer for this game. No pressure or anything!
            </div>
            <div class="col-xs-12">
                <h4>Possession</h4>
                <div class="radio">
                    <label>
                        <input id="team1" name="switch" type="radio" value="{{selectedGame.teams[0]._id}}" ng-model="possessionTeam" ng-click="AddPossession()"/>
                        {{selectedGame.teams[0].name}}
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="team2" type="radio" value="{{selectedGame.teams[1]._id}}" ng-model="possessionTeam" ng-click="AddPossession()"/>
                            {{selectedGame.teams[1].name}}
                    </label>
                </div>
                <hr/>
            </div>
            <form name="stat" novalidate>
                <div class="form-group col-xs-12">
                    <label class="sr-only">Team</label>
                    <select name="team" class="form-control" ng-model="selectedTeam"
                        ng-options="team.name for team in teams | teamPlayerFilter:selectedPlayer | teamFilter:selectedGame.teams" required>
                        <option value="">-- Team --</option>
                    </select>
                </div>
                <div class="form-group col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="selectedPositionLock">
                        </span>
                    <label class="sr-only">Position</label>
                    <select class="form-control" ng-model="selectedPosition" 
                        ng-options="position.name for position in positions | positionFilter:selectedStat.role | positionPlayerFilter:selectedPlayer.positions" required>
                        <option value="">-- Position --</option>
                    </select>
                    </div>
                </div>
                <div class="form-group col-xs-8">
                    <label class="sr-only">Player Name</label>
                    <select ng-model="selectedPlayer" class="form-control"
                        ng-options="player.name for player in players | filter:selectedPosition.name | playerFilter:selectedTeam.players" required>
                        <option value="">-- Player name --</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <label class="sr-only">Player Number</label>
                    <select ng-model="selectedPlayer" class="form-control"
                        ng-options="player.number for player in players | filter:selectedPosition.name | playerFilter:selectedTeam.players" required>
                        <option value="">-- Player number --</option>
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <label class="sr-only">Statistic Name</label>
                    <select class="form-control" ng-model="selectedStat" 
                        ng-options="statistic.primaryName for statistic in statistics | filter:selectedPosition.name | filter:selectedPlayer.position.name">
                        <option value="">-- Statistic --</option>
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <label ng-show="selectedStat.double">
                    <input type="checkbox" ng-model="success" value="statistic.secondaryName"/>
                        Success?
                    </label>
                </div>
                <div class="form-group col-xs-2">
                    <label class="sr-only">Statistic Attribute</label>
                    <div class="form-inline" ng-show="selectedStat.primaryName === 'Goal Attempt'">
                        <div class="radio">
                            <label>
                                <input type="radio" value="drive" ng-model="selectedStat.attribute">
                                    Drive
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="shot" ng-model="selectedStat.attribute">
                                    Shot
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="form-group col-xs-6">
                    <select class="form-control" ng-model="selectedFoul" ng-options="foul.name for foul in fouls">
                        <option value="">-- Foul --</option>
                    </select>
                    </div>
                    <div class="form-group col-xs-6">
                    <select class="form-control" ng-show="selectedFoul.name === 'Yellow Card'" ng-model="selectedFoulType" ng-options="type.name for type in foulTypes">
                        <option value="">-- Foul type --</option>
                    </select>
                    </div>
                </div>
                <div ng-hide="selectedGame.inProgress" class="time col-xs-12 center-block">
                    <button ng-show="stat.$error.required" class="btn btn-success" disabled="disabled">Add</button>
                    <button ng-hide="stat.$error.required" class="btn btn-success" ng-click="Add()">Add</button>
                    <button ng-hide="pause" class="btn btn-warning pull-right" ng-click="pauseTime()">Pause</button>
                    <button ng-show="pause" class="btn btn-warning pull-right" ng-click="restartTime()">Restart</button>
                    <button class="btn btn-danger pull-right" ng-click="endTime();">Stop</button>
                </div>
                <div ng-show="selectedGame.inProgress" class="stats col-xs-12">
                    <button ng-show="stat.$error.required" class="btn btn-success" disabled="disabled">Add</button>
                    <button ng-hide="stat.$error.required" class="btn btn-success" ng-click="Add()">Add</button>
                    <button class="btn btn-danger pull-right" ng-click="endRecordStats()">Done</button>
                </div>
            </form>
            <div class="col-xs-12">
                <p ng-show="!selectedGame.inProgress">Game started at {{selectedGame.startTime | date:'h:mm:ss a'}}</p>
                <table ng-model="selectedGame.statistics" class="table table-striped">
                    <tr>
                        <th class="col-xs-3">Player</th>
                        <th class="col-xs-2">Position</th>
                        <th class="col-xs-3">Team</th>
                        <th class="col-xs-2">Statistic</th>
                        <th class="col-xs-2">Time</th>
                    </tr>
                    <tr ng-repeat="stat in selectedGame.statistics">
                        <td class="col-xs-3">{{stat.player.name}}</td>
                        <td class="col-xs-2">{{stat.position.name}}</td>
                        <td class="col-xs-3">{{stat.team.name}}</td>
                        <td class="col-xs-2"><span ng-show="stat.value === false || stat.value === true">{{stat.value | possessionFilter}}&nbsp;</span>{{stat.name}}<span ng-show="stat.attribute">, {{stat.attribute}}</span><span ng-show="stat.type">&nbsp;({{stat.type.name}})</span></td>
                        <td class="col-xs-2">{{stat.time | date:'h:mm:ss a'}}
                            <span class="text-danger pull-right glyphicon glyphicon-remove" ng-click="Delete(stat)"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div ng-show="confirm">
            <h3>{{selectedGame.name}}</h3>
            <!--<p>{{startTime | date:'MMMM dd, yyyy h:mm:ss a'}} - {{endTime | date:'h:mm:ss a'}}.</p>-->
            <p ng-show="!selectedGame.inProgress">Game Time: {{selectedGame.gameTime | date:'mm:ss'}}</p>
            <table ng-model="selectedGame.statistics" class="table table-striped col-xs-12">
                <tr>
                    <th class="col-xs-3">Player</th>
                    <th class="col-xs-2">Position</th>
                    <th class="col-xs-3">Team</th>
                    <th class="col-xs-2">Statistic</th>
                    <th class="col-xs-2">Time</th>
                </tr>
                <tr ng-repeat="stat in selectedGame.statistics">
                    <td class="col-xs-3">{{stat.player.name}}</td>
                    <td class="col-xs-2">{{stat.position.name}}</td>
                    <td class="col-xs-3">{{stat.team.name}}</td>
                    <td class="col-xs-2"><span ng-show="stat.value === false || stat.value === true">{{stat.value | possessionFilter}}&nbsp;</span>{{stat.name}}<span ng-show="stat.attribute">, {{stat.attribute}}</span><span ng-show="stat.type">&nbsp;({{stat.type.name}})</span></td>
                    <td class="col-xs-2">{{stat.time | date:'h:mm:ss a'}}
                        <span class="text-danger pull-right glyphicon glyphicon-remove" ng-click="Delete(stat)"></span>
                    </td>
                </tr>
            </table>
            <button class="btn btn-lg btn-primary" ng-click="Confirm()">Confirm</button>
            <a href="#/" class="btn btn-lg btn-danger">Cancel</a>
        </div>
</div>
